@font-face {
    font-family: "GabrielaSusec";
    src:url("Gabriela_Susec_projektni_zadatak1.ttf");
}
h1 {
	font-family: GabrielaSusec
}
ul {
			padding:20px; 
			margin-left: auto; 
			margin-right:auto;  
			width: 300px;
			} 
	li {	display:inline;
			background-color:maroon;
			padding:18px;
			border: 2px solid peachpuff;
		}
	li:active {background-color:firebrick;}
		
	li a {	color:white; 
			font-family: Georgia; 
			text-transform: uppercase;
			}
	li a:link {text-decoration:none;}
	li a:hover {text-decoration:underline;}
.home-link {
    color: black;
	background-color: seashell;
	padding: 6px;
	line-height: 30px;
	border: 1px solid #000000;
	border-radius: 10px;
	font-family: Georgia, Gotham, Helvetica, Ariel;
}
.link {
	color: black;
	background-color: rgba(128, 0, 0, 0.5);
	padding: 10px;
	line-height: 30px;
	border: 1px solid #000000;
	border-radius: 15px;
	font-family: Georgia, Gotham, Helvetica, Ariel;
}
	
.centriranje {
	text-align: center;
}
.tekst {
	width: 700px;
	margin: auto;
	text-align: center;
}
p {
	color: rgba(0, 0, 0, 0.8);
	font-family: Georgia, Gotham, Helvetica, Ariel, sans-serif;
	font-size: 16px;
	line-height: 18px;
	width: ;
	background-color: ;
	padding: 15px;
}

q {
	position: fixed;
	right: 20px;
	bottom: 20px;
	padding: 10px;
	font-family: Georgia, Gotham, Helvetica, Ariel;
	background: oldlace;
}
.font-boja {
	color: cornsilk;
	background-color: rgba(128, 0, 0, 0.4);
}
.pozadina {
	background-image: url("slike/IMG_1285.jpg");
	background-size: cover;
}
.drugapozadina {
	background-color: OldLace;
}
.font {
	font-family: Times New Roman, Helvetica, Ariel;
}
.heading2 {
	color: black;
	background-color: rgba(0, 71, 171, 0.7);
	border-radius: 5px;
	padding: 15px;
	width: 16%;
}
.header-bar {
	width: 100%;
	height: 50px;
	background: rgba(128, 0, 0, 0.8);
	color: black;
	text-align: center;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 500px;
}
span {color: brown;}